[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
watchdog = "*"
python-magic = "*"
yara-python = "*"
loguru = "*"

[requires]
python_version = "3.8"
